.center{
  display:flex;
  justify-content:center;
  align-items:center;
}
.vcenter{
  display:flex;
  align-items:center;
}
.flightResults{
  width:90%;
  margin:0 auto;
}
.flightResult{
  width: -moz-fit-content;
  width: fit-content;
  height:7.5em;
  margin-top : 16px;
  padding: 2em;
  box-shadow:0 0 10px #2323;
}
.label{
  font-size:10px;
  letter-spacing:3px;
  padding:4px 0;
  color:#bdc3c7;
  display:flex;
  justify-content:center;
  align-items:center;
}
.flightsBt {
  background: transparent;
  font-size: 11px; 
  line-height: 14px; 
  margin-top: 2em;
  padding: 3px; 
  border-radius: 22px; 
  border: 2px solid; 
  display: inline-block;
  cursor: pointer;
}
.flightsBt:hover {
  color:#5b2a4d;
}
.value{
  font-size: medium;
  letter-spacing:2px;
  display:flex;
  justify-content:center;
  align-items:center;
}
#price {
  font-size: 14px;
  word-wrap: break-word;
}
.infoDiv{
  width:7.5em;
  padding-left:12px;
}
#airlines {
  display: flex; 
  justify-content: left; 
  margin-right: -1.2em;
}
.flightDisplay {
  margin-left: -2.2em;
}
.timeline {
  width:150px;
}
.symbol{
  height:40px;
  border-bottom:2px solid;
}
.symbol > img{
  height:25px;
}
.duration{
  padding:10px;
  font-size:14px;
  letter-spacing:3px;
}

.flightResultInfo {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 786px;
  height:7.5em;
  margin-top : 16px;
  padding:2em;
  box-shadow:0 0 10px #2323;
  background: #5b2a4d;
}

.labelc{
  font-size:10px;
  letter-spacing:3px;
  padding:4px 0;
  color:#bdc3c7;
  display:flex;
  justify-content:center;
  align-items:center;
}

.valuec{
  font-size:medium;
  font-size: 0.8vw;
  margin-bottom: 0.5em;
  letter-spacing:2px;
  color: #f6eded;
  display:flex;
  justify-content:center;
  align-items:center;
}

#set-left {
  margin-left: 2.65em;
}

#set-right {
  margin-right: 2.65em;
}

.flight-price {
  background: #5b2a4d;
  border: 0;
  margin-left: 0.5em;
  margin-right: -1em;
  padding: 0.5em;
  min-width: 8vw;
  min-height: 3vw;
  cursor: pointer;
  word-wrap: break-word;
  white-space: normal;
  font-size: small;
}

#baggage_text {
  display: inline-flex;
  flex-direction: column;
  font-size: 10px;
  color: #000000;
  padding: 4px;
  text-align: center;
  transform: translateX(5px);
  margin-top: 1.5em;
}
